* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* Common */
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp.line-2 {
    --line-clamp: 2;
}
.main-content {
    width: 1170px;
    max-width: 100%-48px;
    margin-left: auto;
    margin-right: auto;
}
:root {
    --font-heading: Sen, sans-serif;
    --primary: #ffb900;
}
.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    border-radius: 24.5px;
    background: #171100;
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 50px;
}
.btn:hover {
    opacity: 0.9;
}
a {
    text-decoration: none;
}
.break-all {
    word-break: break-all;
}
/* Header */
.header {
    background: #fffcf4;
}
.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}
.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}
.nav {
    margin-left: auto;
}
.nav ul {
    display: flex;
}

.nav a {
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    padding: 8px 21px;
    position: relative;
}

.nav a:hover,
.nav li.active a {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
    font-weight: 600;
}
.nav li.active a::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
    bottom: 6px;
    left: 21px;
}
.header .sign-up-btn {
    min-width: 144px;
}
.header .action {
    margin-left: 49px;
}
/* Hero */
.hero {
    background: #fffcf4;
    padding: 56px 0 65px;
}
.hero .body {
    display: flex;
}
/* Hero Lelf */
.hero .media-block {
    width: 48%;
    position: relative;
}

.hero .media-block .image {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}
.hero .media-block .hero-summary {
    position: absolute;
    width: 270px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    bottom: 48px;
    right: -100px;
    padding: 24px;
}
.hero .hero-summary .item {
    display: flex;
    align-items: center;
}
.hero .hero-summary .item + .item {
    margin-top: 22px;
}
.hero .hero-summary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff9e8;
}
.hero .hero-summary .info {
    margin-left: 16px;
}
.hero .hero-summary .label {
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.857; /* 185.714% */
}
.hero .hero-summary .title {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}
.hero .hero-summary .item:nth-last-of-type(2) .icon {
    background: #fcefff;
}
.hero .hero-summary .item:nth-of-type(3) .icon {
    background: #ebeaff;
}
/* Hero Right */
.hero .content-block {
    width: 52%;
    padding-top: 64px;
    margin-left: 230px;
}
.hero .content-block .heading {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.172; /* 117.241% */
    letter-spacing: -1.16px;
    width: 470px;
}
.hero .content-block .desc {
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.667; /* 166.667% */
    margin-top: 22px;
}
.hero .content-block .cta-group {
    display: flex;
    align-items: center;
}
.hero .content-block .hero-cta {
    min-width: 180px;
    border-radius: 32px;
    background: var(--primary);
    margin: 38px 0 48px;
    margin-right: 28px;
    line-height: 64px;
}

.hero .content-block .watch-video {
    display: flex;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.hero .watch-video .icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 14px;
    border-radius: 50%;
}
.hero .watch-video span {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.667; /* 166.667% */
}

.hero .content-block .stats strong {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.227; /* 122.727% */
    padding: 0 8px 0 28px;
    margin-top: 8px;
}
.hero .content-block .stats {
    margin-left: -28px;
    margin-top: 8px;
}
/* Popular */
.popular {
    padding: 65px 0;
    margin-top: 135px;
    margin-bottom: ;
}
.popular .popular-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popular .popular-top .heading {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.263; /* 126.316% */
    letter-spacing: -0.76px;
}
.popular .popular-top .desc {
    width: 458px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
    margin-top: 16px;
}
.popular .popular-top .controls {
    display: flex;
    gap: 18px;
}
.popular .popular-top .control-btn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
}
.popular .popular-top .control-btn:hover {
    color: #fff;
    background: var(--primary);
}
.popular .course-list {
    display: flex;
    margin-top: 55px;
    gap: 30px;
}
.popular .course-list .thumb {
    width: calc(100% + 2px);
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
    margin: -1px;
}
.popular .course-item {
    flex: 1;
    border-radius: 12px;
    background: #fff;
    border: 1px solid #e2dfda;
}
.popular .course-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}
.popular .info {
    padding: 16px 22px 22px;
}
.popular .info .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popular .head .title a {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
    margin-bottom: 6px;
    padding-right: 5px;
}
.popular .head .rating {
    color: var(--primary);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}
.popular .course-item .desc {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.857; /* 185.714% */
    margin-bottom: 12px;
}
.popular .course-item .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popular .course-item .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}
.popular .foot .book-btn {
    border: none;
    cursor: pointer;
}
.popular .foot .book-btn:hover {
    background: var(--primary);
    opacity: 0.9;
}
/* Feedback */
.feedback {
    margin-top: 135px;
    padding: 96px 0;
    background: #2e2100;
}
.feedback .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}
.feedback .feedback-item {
    display: flex;
    flex-shrink: 0;
    width: 100%;
}
.feedback .feedback-list {
    display: flex;
    overflow: hidden;
}
.feedback .info .title {
    color: #f7f7f7;
    font-family: var(--font-heading);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.41; /* 141.667% */
    margin-top: 18px;
}
.feedback .info .desc {
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.857; /* 185.714% */
    margin-top: 4px;
}
.feedback-item .dots {
    display: flex;
    margin-top: 28px;
}
.feedback-item .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    margin-right: 6px;
    cursor: pointer;
}
.feedback-item .dot.active {
    background: #ffb900;
    cursor: default;
}
.feedback-item .content {
    width: 66%;
    margin-left: auto;
}
.feedback-item blockquote {
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.538; /* 153.846% */
    margin-left: 30px;
}
/* Features */
.feature {
    padding: 65px 0;
    margin-top: 135px;
}
.feature .body {
    display: flex;
    justify-content: space-between;
}
.feature .images {
    display: flex;
    gap: 0 30px;
}
.feature .images img {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}
.feature img.lower {
    margin-top: 34px;
}
.feature .info {
    width: 41%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.feature .heading {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.263; /* 126.316% */
    letter-spacing: -0.76px;
}
.feature .desc {
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}
.feature .cta-btn {
    margin-top: 32px;
    min-width: 137px;
    background: var(--primary);
}
.feature-2 {
    margin-top: 70px;
}
.feature-2 .body {
    flex-direction: row-reverse;
}
.feature-2 .info {
    width: 49%;
}
.feature-2 .images img {
    width: 470px;
    height: 440px;
    border-radius: 20px;
}
/* Blog */
.blog {
    margin-top: 135px;
    padding: 96px 0;
    background: #fffcf4;
}
.blog .blog-top {
    text-align: center;
}
.blog .blog-top .heading a {
    color: #130606;
    font-family: var(--font-heading);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.263; /* 126.316% */
    letter-spacing: -0.76px;
}
.blog .blog-top .desc {
    transform: translateX(-50%);
    margin-left: 50%;
    width: 448px;
    color: #696262;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
    margin-top: 16px;
}
.blog .blog-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
    overflow: hidden;
}
.blog .blog-list .blog-item {
    width: calc(33.3% - 20px);
    background: #fff;
    border-radius: 16px;
    flex-shrink: 0;
}
.blog .blog-list .blog-item:hover {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}
.blog-list .thumb {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}
.blog-item .info {
    padding: 20px 20px 28px;
}
.blog-list .title a {
    display: inline-block;
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
    margin-top: 25px;
    margin-bottom: 12px;
}
.blog-item .info .date {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.857; /* 185.714% */
    display: inline-flex;
    align-items: center;
    position: relative;
    padding-bottom: 12px;
}
.blog-item .date::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--primary);
    margin-right: 4px;
}
.blog-item .date::after {
    content: "";
    display: inline-block;
    border-radius: 0.5px;
    background: #e2dfda;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: -27px;
}
.blog .blog-item .btn {
    font-size: 1.4rem;
}
.blog-item .blog-btn:hover {
    background: var(--primary);
}
.blog .dots {
    display: flex;
    gap: 6px;
    justify-content: center;
    margin-top: 38px;
}
.blog .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #5f5b53;
    cursor: pointer;
}
.blog .dot.active {
    background: var(--primary);
    cursor: default;
}
